.RowDetail{
    background: #fff;
    box-shadow: 0 0 6px #ccc;
    height: 100%;
    }
.rowDetailHeader{
    padding: 5px 15px;
    box-shadow: 0 0 6px #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rowDetailHeader h3{
    margin: 0;
}
.RowDetail svg{
    color: #000;
    cursor: pointer;
}
.TabContainer{
    padding: 10px 15px;
    border-top: 1px solid #ccc;
    min-height: 200px;
}

h3{
    text-transform: capitalize;
}
.rowDetailControler{
    margin-left: -12px;
}
@media only screen and (max-width: 600px) {
    .rowDetailHeader h3{
        margin: 0 0 -12px;
    }
}